<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<!-- <typeAlias type="com.mgr.merry.common.ArrayTypeHandler" alias="arrType"/> -->	
		<typeAlias type="com.mgr.merry.sign.model.vo.Members" alias="members"/> 
		<typeAlias type="com.mgr.merry.admin.model.vo.AdminCalendar" alias="cal"/>
		<typeAlias type="com.mgr.merry.supporters.model.vo.Supporters" alias="sup"/>
	</typeAliases>
	
</configuration>




