<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supUp">
	<select id="selectSupUpload" resultType="map" parameterType="_int">
		SELECT * FROM SUPPORTERS_UPLOAD WHERE INFOUPNUM=#{infoupNum}
	</select>
	<select id="selectSupUpload2" resultType="map" parameterType="_int">
		SELECT * FROM SUPPORTERS_UPLOAD WHERE INFOUPNUM=#{infoupNum} AND SUPUPSTATUS=1
	</select>
	
	<insert id="insertSupUpload" parameterType="Map">
		INSERT INTO SUPPORTERS_UPLOAD VALUES(SEQ_SUP_UP_NUM.NEXTVAL, #{supNum}, #{infoupNum}, #{supupTitle}, #{supupContent}, default, default)
	</insert>
	
	<select id="selectSup" resultType="com.mgr.merry.supporters.model.vo.Supporters">
		SELECT * FROM SUPPORTERS WHERE MEMBERNUM=#{memberNum}
	</select>
	
	<select id="selectSupId" resultType="map" parameterType="_int">
		SELECT * FROM SUPPORTERS WHERE MEMBERNUM=#{memberNum}
	</select>
	
	<insert id="insertSupUploadImg" parameterType="com.mgr.merry.supUpload.model.vo.SupUploadImg">
		INSERT INTO SUPPORTERS_UPLOAD_IMG VALUES(#{supupNum}, SEQ_SUP_UP_IMG_NUM.NEXTVAL, #{fileReName})
	</insert>
	
	<update id="updateSupUpload" parameterType="map">
		UPDATE SUPPORTERS_UPLOAD SET SUPUPTITLE=#{supupTitle}, SUPUPCONTENT=#{supupContent} where INFOUPNUM=#{infoupNum}
	</update>
	
	<update id="updateSupRvState0">
		UPDATE SUPPORTERS_UPLOAD SET SUPUPSTATUS=0 WHERE INFOUPNUM=#{infoupNum}
	</update>
	
	<insert id="insertSupUploadImgNum" parameterType="com.mgr.merry.supUpload.model.vo.SupUploadImg">
		INSERT INTO SUPPORTERS_UPLOAD_IMG VALUES(SEQ_SUP_UP_NUM.NEXTVAL, SEQ_SUP_UP_IMG_NUM.NEXTVAL, #{fileReName})
	</insert>
</mapper>
