<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
	
	 <select id="allList" resultType="map">
	     SELECT *
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE AND i.INFOUPSTATUS=1 
		 ORDER BY INFOUPDATE DESC
	 </select>
	  
	 <!--서브테마조회-->
	 <select id="subThemaList" resultType="com.mgr.merry.info.model.vo.InfoUpload" parameterType="map">
	     SELECT *
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE i.THEMANUM=#{themaNum} AND t.THEMANUMREF=#{themaNumRef} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	</select>
	  
	<!--메인테마 조회 -->
	<select id="mainThemaList" resultType="com.mgr.merry.info.model.vo.InfoUpload" parameterType="_int">
	     SELECT *
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE t.THEMANUMREF=#{themaNumRef} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	 </select>
	  
	 <!--지역별조회 -->
	 <select id="localList" resultType="com.mgr.merry.info.model.vo.InfoUpload" parameterType="_int">
	     SELECT *
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE lo.LOCALNUM=#{localNum} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	 </select>
	 
	 <select id="localCount" resultType="_int">
	    SELECT COUNT(*)
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE lo.LOCALNUM=#{localNum} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	 </select>
	 
	 	 <select id="mainThemaCount" resultType="_int">
	   SELECT COUNT(*)
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE t.THEMANUMREF=#{themaNumRef} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	 </select>
	    
	    <select id="subThemaCount" resultType="_int">
	    
	     SELECT COUNT(*)
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE i.THEMANUM=#{themaNum} AND t.THEMANUMREF=#{themaNumRef} AND i.INFOUPSTATUS=1
		 ORDER BY INFOUPDATE DESC
	</select>
	   
	   
<!-- 	    지도 API  키워드 검색-->
	    <select id="mapCountAll" resultType="_int" parameterType="string">
	     SELECT COUNT(*) 
	     FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE t.THEMANAME LIKE '%' || #{data} || '%'
		 OR lo.LOCALCITY LIKE '%' || #{data} || '%'
		 OR i.INFOADDR LIKE '%' || #{data} || '%'
		 OR i.INFOUPTITLE LIKE '%' || #{data} || '%'
	    </select>
	    
	    <select id="mapList" resultType="com.mgr.merry.info.model.vo.InfoUpload" parameterType="string">
	     SELECT *
		 FROM INFO_UPLOAD i
		 INNER JOIN THEMA t
		 ON i.THEMANUM=t.THEMANUM
		 INNER JOIN INFO_UPLOAD_IMG img
		 ON i.INFOUPNUM=img.INFOUPNUM
		 INNER JOIN LOCATION lo
		 ON i.LOCALNUM=lo.LOCALNUM
		 WHERE i.INFOUPSTATUS=1 AND
		 (t.THEMANAME LIKE '%' || #{keyword} || '%'
		 OR lo.LOCALCITY LIKE '%' || #{keyword} || '%'
		 OR i.INFOADDR LIKE '%' || #{keyword} || '%'
		 OR i.INFOUPTITLE LIKE '%' || #{keyword} || '%')
	    </select>

	<!-- themanumref가 null이 아닌 thema 리스트 ( 서브테마 ) 가져오기 -->
	<select id="themaList3" resultType="map">
		select * from thema where
		themanumref is not null
	</select>

	<!-- themanumref가 null인 thema리스트 (메인테마) 가져오기 -->
	<select id="themaList4" resultType="map">
		select * from thema where
		themanumref is null
	</select>

	<!-- locationList -->
	<select id="locationList" resultType="map">
		SELECT * FROM LOCATION
	</select>
	
	<select id="noticeIndexLoad" resultType="map">
		select * from(
    		select rownum as rnum, a.* from(
       			select * from adminnotice
            		where noticestatus = 1
        	order by noticedate desc
        ) a)
		where rnum = 1
	</select>
	
	<select id="bestinfo" resultType="map">
		select * from info_upload
join info_upload_img using(infoupnum)
where infoupdate > (sysdate - 7)
    and infoupstatus = 1 order by dbms_random.value
	</select>

</mapper>