<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
 <select id="allList" resultType="map">
 SELECT * 
 FROM SUPPORTERS_UPLOAD s
 INNER JOIN THEMA t
 ON s.THEMANUM=t.THEMANUM
 INNER JOIN INFO_UPLOAD i
 ON t.THEMANUM=i.THEMANUM
 INNER JOIN SUB_LOCATION sl
 ON i.SUBLOCALNUM=sl.SUBLOCALNUM
 INNER JOIN INFO_UPLOAD_IMG img
 IN i.INFOUPNUM=img.INFONUM
 INNER JOIN LOCATION lo
 ON sl.SUBLOCALNUM=lo.SUBLOCALNUM
 </select>
  
<!--메인테마조회 -->
  <select id="themaList1" resultType="com.mgr.merry.info.model.vo.InfoUpload">
  SELECT * 
 FROM SUPPORTERS_UPLOAD s
 INNER JOIN THEMA t
 ON s.THEMANUM=t.THEMANUM
 INNER JOIN INFO_UPLOAD i
 ON t.THEMANUM=i.THEMANUM
 INNER JOIN SUB_LOCATION sl
 ON i.SUBLOCALNUM=sl.SUBLOCALNUM
 INNER JOIN INFO_UPLOAD_IMG img
 IN i.INFOUPNUM=img.INFONUM
 INNER JOIN LOCATION lo
 ON sl.SUBLOCALNUM=lo.SUBLOCALNUM
 WHERE i.THEMANUM=#{themaNum} OR t.THEMANUMREF=#{themaNumRef}
</select>
  
<!--서브테마 조회 -->
  <select id="themaList2" resultType="com.mgr.merry.info.model.vo.InfoUpload">
  SELECT * 
  FROM INFO_UPLOAD i 
  INNER JOIN THEMA t 
  ON i.THEMANUM = t.THEMANUM
  WHERE i.THEMANUM=#{themaNum}
  </select>
  
  

  
  
  
 </mapper>
